<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaofuquan.android.toc.app.shop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LibAppTheme">
        <activity
            android:name=".activity.ProdDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter android:priority="-500">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="goods"
                    android:pathPrefix="/detail"
                    android:scheme="xfq" />
            </intent-filter>
        </activity>
    </application>

</manifest>